@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

fieldset {
    font-family: sans-serif;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

fieldset > * {
    padding: 10px 0;
}

legend {    
    width: 30%;    
    color: #333;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.btn-login {
    background-color: #636262;
    color: #f9f9f9;
    border-radius: 3px;
    padding: 7px 14px;
}

.btn-reset {
    background-color: #cd3b3b;
    color: #080303;
    border-radius: 3px;
    margin-left: 30px;
    padding: 7px 14px;
}

label {    
    font-weight: bold;
    padding-right: 10px;
}

i {
    padding-left: 5px;
    padding-top: 3px;
    position: absolute; 
    z-index: 2;   
    
}

input {
    position: absolute;
    z-index: 1;    
}

input:focus {
    z-index: 3;
}


